<div class="page-container">
  <div class="container" style="width: 700px; margin: 0 auto;">
    <br />
    <h3 class="text-center">Poser une question sur le trajet</h3>
    <p class="text-center"> de <%=@journey.source_city%> à <%=@journey.destination_city%></p>
    <%= simple_form_for [@journey, @message] do |f| %>
      <%= f.input :content, label: "Ton message" %>
      <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
    <% end %>
    <!-- </br> -->
  </div>
</div>


