<div class="page-container">
  <div class="container" style="width: 700px; margin: 0 auto;">
    <h1>Je laisse un message sur le mur</h1>
    <h4>Trajet de <%=@journey.source_city%> à <%=@journey.destination_city%></h4>
    </br>
    <%= simple_form_for [@journey, @message] do |f| %>
      <%= f.input :content, label: "Ton message" %>
      <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
    <% end %>
    </br>
  </div>
</div>


