<div class="page-container">
  <div class="container" style="width: 700px; margin: 0 auto;">
    <h1>Modifier mon profil</h1>
    <%= simple_form_for @user, url: profile_path(@user) do |f| %>
    <%= f.input :first_name, label:"Prénom" %>
    <%= f.input :last_name, label:"Nom" %>
    <%= f.input :description %>
    <%= f.input :email, label:"Email" %>
    <%= f.input :phone, label:"Téléphone" %>
    <%= f.input :gender, label:"Sexe" %>
    <%= f.input :address, label:"Addresse" %>
    <%= f.input :photo, label:"Photo" %>
    <div class="text-center"><%= f.submit "C'est fait!", class: 'btn btn-success' %></div>
  </br>
<% end %>
</div>
</div>
