<div class="container-profile">
  <div class="text-center">
    <%= cl_image_tag  current_user.photo, class: "avatar-profile", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
    <h2><%= @user.first_name %></h2>
  </div>
</br>
  <div class="text-align" >
    <p><%= @user.description %></p>
    <p><i class="far fa-envelope"></i> <%= @user.email %></p>
    <p><i class="fas fa-phone"></i> <%= @user.phone %></p>
    <p><i class="fas fa-map-marker-alt"></i> <%= @user.address %></p>
    <p>Note globale: <%= @user.average_rating %>/5 - <%= @user.amount_rating %> avis</p>
    <br>
  </div>
     <h4>Reviews:</h4>
     <% @user.reviews.each do |review| %>
        <p>De: <%= review.reviewer.first_name %></p>
        <% review.rating.to_i.times do %><span class="fa fa-star checked"></span>
        <% end %>
        <% stars = review.rating.to_i%>
        <% stars_new = 5 - stars %>
        <% stars_new.times do%><span class="fa fa-star"></span>
        <% end %>
        <p>Commentaire: <%= review.description %></p>
     </br>
     <% end%>
  <div class="text-center"><%= link_to "Contactez-le!", edit_profile_path(@user), class: "btn btn-success" %></div>
    </br>
<!--  A gérer avec le pundit selon profil du user ou non -->
 <div class="text-center"><%= link_to "Modifier mon profil", edit_profile_path(@user), class: "btn btn-success" %></div>
  </br>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


