<div class="container-profile">
  <div class="text-center">
    <%= cl_image_tag  @user.photo, class: "avatar-profile"%>
    <h2><%= @user.first_name %></h2>
  </div>
</br>
  <div class="text-align" >
    <p><%= @user.description %></p>
    <p><i class="far fa-envelope"></i> <%= @user.email %></p>
    <p><i class="fas fa-phone"></i> <%= @user.phone %></p>
    <p><i class="fas fa-map-marker-alt"></i> <%= @user.address %></p>
    <% if @user.average_rating != "test" %>
    <p>Note globale: <%= @user.average_rating %>/5 - <%= @user.amount_rating %> avis</p>
    <% else %>
    <p>Note globale: <%= @user.first_name %> n'a pas encore d'avis</p>
    <% end%>
    <br>
  </div>

  <% if @user.reviews.present? %>
    <h4>Avis reçus:</h4>
    <% @user.reviews.each do |review| %>
    <div class="reviews" style="display: flex">
      <div class="review-profile" style="margin-right: 20px">
        <%= cl_image_tag  review.reviewer.photo, class: "avatar" %>
          <p style="font-size: 13px ; text-align: center"><%= review.reviewer.first_name %></p>
      </div>
      <div class="review-comment">
        <% review.rating.to_i.times do %><span class="fa fa-star checked"></span>
        <% end %>
        <% stars = review.rating.to_i%>
        <% stars_new = 5 - stars %>
        <% stars_new.times do%><span class="fa fa-star"></span>
        <% end %>
          <p style="font-size: 15px"><%= review.description %></p>
      </div>
    </div>

     </br>
     <% end%>
  <% end %>

<% if @user != current_user  %>
  <div class="text-center"><%= link_to "Envoyer un message", profile_path(@user), class: "btn btn-success" %></div>
    </br>

<% else %>
   <div class="text-center"><%= link_to "Modifier mon profil", edit_profile_path(@user), class: "btn btn-success" %></div>
  </div>
<% end %>

</div>
<div class="text-center"><%= link_to "Précédent", :back, class: "btn btn-light-green" %></div>
</br>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
