<h6>Show profile. Je peux consulter le profil d'un utilisateur</h6>


<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.description %>
<br>
<%= @user.email %>
<%= @user.phone %>
<%= @user.address %>


<%= link_to "Update my profile",  edit_profile_path(@user) %>
