<html>
<head>
  </head>

<body>

<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/dscu7dmwa/video/upload/v1544105174/banner_eazyride.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <h1 class="display-3">EAZYRIDE</h1>
        <h3>Le covoiturage sportif</h3>
      </div>
    </div>
    <br />
    <div class="form-inline"
       <div id="journeys">
        <%= simple_form_for Journey.new, url: journeys_path, method: :get do |f| %>
        <%= f.input :activity_id, collection: Activity.all, prompt: "Choisis ton activité ", label: false %>
        <%= f.input :source_city, placeholder: "Ville de départ", label: false %>
        <%= f.input :destination_city, placeholder: "Ville d'arrivée", label: false, input_html: { title:  "Vous ne savez pas où aller ? Cliquer ici pour chercher Partout", class: 'btn btn-default', data: {toggle: "tooltip", placement: "bottom", trigger: "click"}} %>
        <div class="form-group string optional search_starts_time">
              <!-- <label class="form-control-label string optional" for="search_starts_time" >Starts time</label> -->
              <input class="form-control string optional datepicker flatpickr-input" type="text" name="journey[start_time]" id="search_starts_time" readonly="readonly" placeholder="Date">
        </div>
            <%= f.button :submit, "C'est parti", class: "btn btn-success" %>
        <% end %>
      </div>
     </div>
     </div>
    </div>
   </div>
  </div>
</header>


<!-- <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button> -->

    <div class="icone text-center">
     <div class="row">
      <div class="col-sm-4 col-md-4">
          <img src='https://res.cloudinary.com/dscu7dmwa/image/upload/v1544107574/double-arrow.svg' height="42" width="42">
          <br >
        <p><strong>Trajet <br /> Aller/Retour</strong></p>
      </div>

      <div class="col-sm-4 col-md-4">
          <img src='https://res.cloudinary.com/dscu7dmwa/image/upload/v1544107621/heart.svg' height="42" width="42">
          <br >
        <p><strong>Convivial <br /> et écologique</strong></p>
      </div>
        <div class="col-sm-4 col-md-4">
           <img src='https://res.cloudinary.com/dscu7dmwa/image/upload/v1544107743/euro.svg' height="42" width="42">
          <br >
        <p><strong>Aucune <br /> commission</strong></p>
      </div>
    </div>
   </div>
 </div>

    <div class="container">
      <h2 class="text-center">Nos derniers trajets</h2>
      <br />
     <div class="row">
      <% @journeys.last(6).each do |journey| %>
       <div class="col-xs-12 col-sm-4">
          <div class="card-home">
            <div class="card-home-photo" style="background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= cl_image_path journey.activity.photo %>);">
              <%= link_to "", journey_path(journey), class: "card-link" %>
            </div>
          <div class="card-home-footer">
            <p><strong><%= journey.activity.name %></strong>  <br /> 📍<%= journey.source_city %> <br /> 🏁<%= journey.destination_city %> <br /><%= journey.formated_time %></p>
           <div class="card-footer-controls">
            <%= cl_image_tag  journey.user.photo, class: "avatar-card" %>
              <br />
            <div class="text-center"><strong><font color="#74b49b"><%= journey.price %> € </font></strong>
            <p><font color="#74b49b">par place</font></p>
            </div>
           </div>
         </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


  <div class="picto text-center">
    <h2 class="text-center">Comment ça marche ?</h2>
    <br />
    <br />
     <div class="row">
      <div class="col-sm-4 col-md-4">
          <img src='https://res.cloudinary.com/dscu7dmwa/image/upload/v1544184016/cup.svg' height="60" width="60">
         <br />
        <p><strong>Choisis ton activité</strong></p>
        <p>Choisis le sport que tu veux aller faire <br /> à la date de ton choix</p>
      </div>

      <div class="col-sm-4 col-md-4">
          <img src='https://res.cloudinary.com/dscu7dmwa/image/upload/v1544184278/pin.svg' height="60" width="60">
         <br />
        <p><strong>Choisis ta destination</strong></p>
        <p>Laisse-toi guider en regardant tous les trajets <br /> disponibles sur ton activité</p>
      </div>
        <div class="col-sm-4 col-md-4">
           <img src='https://res.cloudinary.com/dscu7dmwa/image/upload/v1544184675/like_1.svg' height="60" width="60">
          <br />
        <p><strong>Enjoy</strong></p>
        <p>Partage ton activité favorite <br /> avec des passionnés, comme toi.</p>
      </div>
    </div>
   </div>
 </div>


  <div class="small-banner-home",  style="background-image: linear-gradient(-225deg, rgba(92,141,137,0.15) 10%, rgba(0,36,61,0.6) 100%), url(<%= cl_image_path("dino-reichmuth-115620-unsplash.jpg") %>);">
      <br >
      <h2>Vous avez une voiture ?</h2>
      <h4>avec Eazyride partager plus qu'un trajet</h4>
      <%= link_to "Proposer un trajet", new_journey_path, class: "btn btn-success" %>
  </div>
</div>



 </body>
</html>



