<html>
<head>
  </head>

<body>

<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/dscu7dmwa/video/upload/v1544105174/banner_eazyride.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <h1 class="display-3">EAZYRIDE</h1>
        <h3>Le covoiturage sportif</h3>
      </div>
    </div>
    <br />
    <div class="form-inline"
       <div id="journeys">
        <%= simple_form_for Journey.new, url: journeys_path, method: :get do |f| %>
        <%= f.input :activity_id, collection: Activity.all, prompt: "Choisis ton activité ", label: false %>
        <%= f.input :source_city, placeholder: "Ville de départ", label: false %>
        <%= f.input :destination_city, placeholder: "Ville d'arrivée", label: false %>
        <div class="form-group string optional search_starts_time">
              <!-- <label class="form-control-label string optional" for="search_starts_time" >Starts time</label> -->
              <input class="form-control string optional datepicker flatpickr-input" type="text" name="journey[start_time]" id="search_starts_time" readonly="readonly" placeholder="Date">
        </div>
            <%= f.button :submit, "C'est parti", class: "btn btn-success" %>
        <% end %>
      </div>
     </div>
     </div>
    </div>
   </div>
  </div>
</header>

    <div class="icone text-center">
     <div class="row">
      <div class="col-sm-4 col-md-4">
      <!-- <ul class="list-inline">
        <li class="text-center"> -->
          <img src='https://res.cloudinary.com/dscu7dmwa/image/upload/v1544107574/double-arrow.svg' height="42" width="42">
          <br >
        <p><strong>Trajet <br /> Aller/Retour</strong></p>
       <!-- </li> -->
      </div>

      <div class="col-sm-4 col-md-4">
       <!-- <li class="text-center"> -->
          <img src='https://res.cloudinary.com/dscu7dmwa/image/upload/v1544107621/heart.svg' height="42" width="42">
          <br >
        <p><strong>Convivial <br /> et écologique</strong></p>
      </div>
       <!-- </li> -->
       <!-- <li class="text-center"> -->
        <div class="col-sm-4 col-md-4">
           <img src='https://res.cloudinary.com/dscu7dmwa/image/upload/v1544107743/euro.svg' height="42" width="42">
          <br >
        <p><strong>Aucune <br /> commission</strong></p>
      </div>
    </div>
     <!--   </li>
     </ul> -->
   </div>
 </div>

    <div class="container">
      <h2 class="text-center">Nos derniers trajets</h2>
      <br />
     <div class="row">
      <% @journeys.last(3).each do |journey| %>
       <div class="col-xs-12 col-sm-4">
        <div class="card-home">
            <div class="card-home-photo" style="background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= cl_image_path("cbjvnfinwkdbnat2grzq.jpg") %>);">
            <%= link_to "", journey_path(journey), class: "card-link" %>
           </div>
          <div class="card-home-footer">
            <p><strong><%= journey.activity.name %></strong>  <br /> 📍<%= journey.source_city %> <br /> 🏁<%= journey.destination_city %></p>
           <div class="card-footer-controls">
              <img src="https://res.cloudinary.com/dscu7dmwa/image/upload/v1544179254/image_3.png" alt="Avatar" class="avatar">
              <br />
            <div class="text-center"><strong><font color="#74b49b"><%= journey.price %> € </font></strong>
            <p><font color="#74b49b">par place</font></p>
            </div>
           </div>
         </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="small-banner-home",  style="background-image: linear-gradient(-225deg, rgba(92,141,137,0.15) 10%, rgba(0,36,61,0.6) 100%), url(<%= cl_image_path("dino-reichmuth-115620-unsplash.jpg") %>);">
      <br >
      <h2>Vous avez une voiture ?</h2>
      <h4>avec Eazyride partager plus qu'un trajet</h4>
      <%= link_to "Proposer un trajet", new_journey_path, class: "btn btn-success" %>
  </div>
</div>

  <div class="footer">
      <div class="footer-info">
        <h4>Eazyride</h4>
        <p>Eazyride est le site de <strong><font color="#74b49b">covoiturage</font></strong> qui te permet de réaliser ton <br /><strong><font color="#74b49b">activité sportive favorite</font></strong> de manière écologique, économique, <br /> conviviale et sécuritaire.</p>
      </div>
    <!--   <div class="col-sm-4 col-md-4">
        <h4>Liens utile</h4>
          <br />
       <p><%= link_to "Proposer un trajet", new_journey_path %></p>
       <p><%= link_to "Rechercher un trajet", journeys_path %></p>
       <p><%= link_to "Contact", new_journey_path %></p>
      </div> -->
        <div class="footer-links text-center">
          <h4>Rejoignez-nous</h4>
          <br />
          <img src="https://res.cloudinary.com/dscu7dmwa/image/upload/v1544115120/instagram.svg" height="50" width="50">
          <img src="https://res.cloudinary.com/dscu7dmwa/image/upload/v1544115124/facebook.svg" height="50" width="50">
      </div>
    </div>

 </body>
</html>



