
  <%= link_to journey_path(journey) do %>
    <div class="card-map">
    <%= cl_image_tag  journey.user.photo, class: "avatar-small" %>
    <%= journey.user.name %>
    <br>
    <p><em><%= @distance.round %> Km</em></p>
    <br>
    <p><%= journey.destination_city %></p>
    </div>
  <% end %>

