<html>
<body>



  <%= cl_image_tag @journeys.first.activity.photo, class:"banner-page" %>


<div class="main-container-index">
  <div class="left-container-index">


   <h3 class="text-center">Liste des trajets pour l'activité <%= @journeys.first.activity.name %> </h3>
        <br />
        <% @journeys.each do |journey|%>


          <div class="card-trajet-index" >
            <div class="profile text-center">
              <img src="https://res.cloudinary.com/dscu7dmwa/image/upload/v1544179254/image_3.png" alt="Avatar" class="avatar-index">
              <h4>Michel</h4>
            </div>
            <div class="desc-trip">
              <h4><%= journey.source_city %> / <%= journey.destination_city %></h4>
              <p><%= journey.formated_time %></p>
              <!-- <p><%= journey.car_type %></p> -->
            </div>
            <div class="offer">
              <h4><font color="#74b49b"><%= journey.price %> €</font> <font color="#74b49b">/rider </font></h4>
              <p><%= journey.seat_available %> places restantes </p>
              <%= link_to "Voir ce trajet", journey_path(journey), class: "btn btn-success" %>
            </div>
          </div>
      <% end %>
  </div>


  <div class="right-container-index">
    <% if @markers.present? %>
    <div style = "width: 100%;height: 800px" id="map-index" data-markers=<%= @markers.to_json %> data-mapbox-api-key=<%= ENV["mapboxgl.accessToken"] %>></div>
    <% end %>
  </div>
</div>


</body>
</html>
