<h1>Mes Rides</h1>

<% @journeys.each do |journey|%>
  <p><%= journey.car_type %></p>
  <p><%= journey.description %></p>
  <p><%= journey.source_city %></p>
  <p><%= journey.source_city %></p>
  <p><%= journey.destination_city %></p>
  <p><%= journey.price %> € for your trip </p>
<% end %>
</div>
