<h1>Nouveau Ride : à toi de jouer !</h1>

<div class="page-container">
  <div class="container" style="width: 700px; margin: 0 auto;">
    <%= simple_form_for @journey do |f| %>
      <%= f.input :description %>
      <%= f.association :activity, label: "Sport", prompt: "Choisis ton activité" %>
      <%= f.input :source_city, label: "Départ" %>
      <%= f.input :destination_city, label: "Arrivée" %>
      <%= f.input :start_time, as: :string, required: false, input_html: {class: "datetimepicker"}, label: "Date et heure de départ" %>
      <%= f.input :end_time, as: :string, required: false, input_html: {class: "datetimepicker"}, label: "Date et heure de d'arrivée" %>
      <%= f.input :seat_available, label: "Combien de places proposes-tu?" %>
      <%= f.input :car_type, label: "Quel est le modèle de ta voiture ?" %>
      <%= f.input :price, label: "Prix - €" %>
      <%= f.input :shares_gear, label: "Je veux partager mon activité"  %>
      <%= f.input :accepts_gear, label: "J'accepte du matériel dans ma voiture"  %>
      <%= f.input :lends_gear, label: "J'accepte de partager mon matériel"  %>
      <%= f.button :submit, "Créer ton ride", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
