<div class="container-form">
  <div class="left">
    <div class= "image-left">
      <img src="https://res.cloudinary.com/dscu7dmwa/image/upload/v1544606550/logo-3.png" height="200" >
    <!--   <img src="https://media.giphy.com/media/xT9IgKyHvBNqm1guMo/giphy.gif"> -->
      <h2 class="text-center">EAZYRIDE</h2>
      <h4 class="text-center">Partager plus qu'un trajet</h4>
    </div>
   </div>



     <div class="right-row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
         <!--  <div class="container-form"> -->
        <%= simple_form_for @journey do |f| %>
     <!--   <form action=""> -->
        <h2 class="text-center">Ajouter un nouveau trajet</h2>
        <br />
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
             <%= f.input :source_city, placeholder: "Ville de départ", label: false %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.input :destination_city, placeholder: "Ville d'arrivée", label: false %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.input :start_time, as: :string, required: false, input_html: {class: "datetimepicker"},  placeholder: "Date et heure de départ", label: false %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
               <%= f.input :end_time, as: :string, required: false, input_html: {class: "datetimepicker"}, placeholder: "Date et heure de d'arrivée", label: false %>
            </div>
          </div>
        </div>
        <div class="form-group">
              <%= f.association :activity, prompt: "Choisis ton activité", label: false %>
        </div>
        <div class="form-group">
          <%= f.input :description, placeholder: "Décris ton trajet", label: false %>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
             <%= f.input :seat_available, placeholder: "Nombre de places ?", label: false %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.input :price, placeholder: "Prix par place (€)", label: false %>
            </div>
          </div>
        </div>
        <div class="form-group">
           <%= f.input :car_type, placeholder: "Quel est le modèle de ta voiture ?", label: false %>
        </div>
        <div class="form-group-choice">
          <div class="form-check">
            <%= f.input :shares_gear, label: "J'accepte de partager mon activité", input_html: {class: "hidden"}, label_html: { class: "form-choice" } %>
             <%= f.input :lends_gear, label: "J'accepte de partager mon matériel", input_html: {class: "hidden"}, label_html: { class: "form-choice" } %>
            <%= f.input :accepts_gear, label: "J'accepte du matériel dans ma voiture", input_html: {class: "hidden"}, label_html: { class: "form-choice" } %>
          </div>
        </div>
        <div class="form-group">
          <%= f.button :submit, "Créer ton ride", class: "btn btn-success" %>
        </div>
        </div>
     <!--  </div> -->
      <% end %>
    </div>
   </div>
</div>
