<div>
  <h1>Trajet</h1>
</div>

<div>
  <p><%= @journey.car_type %></p>
  <p><%= @journey.description %></p>
  <p><%= @journey.source_city %></p>
  <p><%= @journey.destination_city %></p>
  <p><%= @journey.price %> € pour ton trip</p>
</div>
