<%= cl_image_tag @journey.activity.photo, class:"banner-page" %>


<div class="container">

<div class="text-center">
  <h4> <%= @journey.activity.category.upcase %> | <%= @journey.source_city.capitalize %> - <%= @journey.destination_city.capitalize %>  </h4>
  <!-- <h6> Temps trajet aller - km </h6> -->
</div>

<div class="main-container-journey">
  <div class="left-container">
    <div class="">
      <div class="">
        <h5> <%= @journey.activity.name.capitalize %> à <%= @journey.destination_city.capitalize %> </h5>
        <p> <em><%= @journey.description %></em></p>
        <p><em><%= @distance.round %> Km</em></p>

        <br>


        <div class= "flexed-around text-center">
          <div>
            <p> <strong> Départ </strong> </p>
            <p>  📍<%= @journey.source_city.capitalize %> </p>
            <p>  🗓<%= @journey.start_time %> </p>
          </div>
          <div>
            <p> <strong> Arrivée </strong> </p>
            <p>  📍<%= @journey.destination_city.capitalize %> </p>
            <p>  🗓<%= @journey.end_time %> </p>
          </div>
        </div>
      </div>
    </div>
<br>
    <div class="">
      <div class="flexed">
        <% if @journey.shares_gear == true %>
          <div class="true">
            <i class="fas fa-check"></i>
            <p>Je partage<br>mon activité</p>
          </div>
        <% else %>
          <div class="false">
          <i class="fas fa-times"></i>
          <p>Je partage<br>mon activité </p>
          </div>
        <% end %>

        <br>
        <br>

        <% if @journey.lends_gear == true %>
           <div class="true">
            <i class="fas fa-check"></i>
            <p> Je prête<br>du matériel </p>
            </div>
        <% else %>
          <div class="false">
          <i class="fas fa-times"></i>
          <p> Je prête<br>du matériel </p>
          </div>
        <% end %>

        <% if @journey.accepts_gear == true %>
          <div class="true">
          <i class="fas fa-check"></i>
          <p>J'accepte de<br>transporter votre matériel </p>
          </div>
        <% else %>
          <div class="false">
          <i class="fas fa-times"></i>
          <p>J'accepte de<br>transporter votre matériel </p>
          </div>
        <% end %>
        </div>

        <div class="center">
        <p>
          <% if @journey.seat_available > 0 %>
            <%= @journey.seat_available %> places disponibles
            <p><%= @journey.price %> € par place </p>
          <% else %>
            <p> Désolé, il n'y a plus de place disponible pour ce trajet ! </p>
          <% end %>
        </p>

        <div class="">
        <% if @journey.seat_available > 0 && @journey.user != current_user %>
          <%= simple_form_for [@journey, @drivee] do |f| %>
            <div class= "text-center"><%= f.submit 'Je réserve', class: "btn btn-success" %></div>
            <% end %>
        <% else %>
            <%= link_to "Chercher un autre trajet", root_path, class: "btn btn-success" %>
        <% end %>
        </div>

      </div>
        <h4>Ils sont aussi du voyage:</h4>
        <div class="other-riders">
          <% @journey.drivees.each do |drivee| %>
          <div class="riders">
          <img src="https://res.cloudinary.com/dscu7dmwa/image/upload/v1544179254/image_3.png" alt="Avatar" class="avatar">
            <%#= A mettre photo de chaque user cliquable  %>
          <p><%= drivee.user.first_name %><%= link_to "Profile", profile_path(drivee.user_id) %></p>
          </div>
          <% end %>
        </div>
    </div>

  <div class="cta text-center">
    <% if @journey.seat_available > 0 && @journey.user != current_user %>
      <%= link_to "Confirmer ma réservation", new_journey_drivee_path(@journey), class: "btn btn-success" %>
    <% else %>
      <%= link_to "Chercher un autre trajet", journey_path(@journey), class: "btn btn-success" %>
    <% end %>

    <% if policy(@journey).edit? %>
      <%= link_to "Modifier", edit_journey_path(@journey), class: "btn btn-primary" %>
    <% end %>

    <% if policy(@journey).destroy? %>
      <%= link_to "Supprimer", journey_path(@journey),method: :delete, class: "btn btn-danger"%>
    <% end %>

      <%= link_to "Message",  new_journey_message_path(@journey),method: :get, class: "btn btn-primary" %>

    <%= link_to "Contacter le conducteur",  new_journey_message_path(@journey),method: :get, class: "btn btn-primary" %>
    <br>

    <br>
    <div><%= link_to "Laisser un commentaire",new_journey_review_path(@journey)  %>
    </div>
    </div>
  </div>

  <div class="right-container">
    <div class="card-driver">
        <div class="flexed">
          <% if @journey.user.photo.present? %>
            <%= cl_image_tag  @journey.user.photo, class: "marged-right" %>
          <% else %>
            <%= cl_image_tag 'https://res.cloudinary.com/dscu7dmwa/image/upload/v1544458825/speech-bubbles.png', class: "avatar marged-right" %>
          <% end %>

          <h5>A propos du conducteur</h5>
        </div>

        <div class="line-para">
        <p><%= @journey.user.description%></p>
        </div>

        <p><%#= @journey.reviews%></p>

        <div class="line-para">
        <p><i class="far fa-check-circle"></i> Conducteur validé</p>
        </div>

        <div class="">
        <p>Modèle de la voiture : <%= @journey.car_type%></p>
        </div>



      </div>
    </div>
  </div>

<h5>Itinéaire</h5>


  <div class="container">
    <div class="row">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%#= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['mapboxgl.accessToken'] %>"
        data-orig-lon="<%= @journey_origin_lon %>"
        data-orig-lat="<%= @journey_origin_lat %>"
        data-dest-lon="<%= @journey_dest_lon %>"
        data-dest-lat="<%= @journey_dest_lat %>"
      ></div>
    </div>
</div>
</div>


<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%#= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['mapboxgl.accessToken'] %>"
  data-orig-lat="<%= @journey_origin_lon %>"
  data-orig-lon="<%= @journey_origin_lat %>"
  data-dest-lat="<%= @journey_dest_lon %>"
  data-dest-lon="<%= @journey_dest_lat %>"
></div>

