<div class="">
  <h1>Trajet</h1>
</div>
<div class="container">
  <p>De <%= @journey.source_city.capitalize %> à <%= @journey.destination_city.capitalize %></p>
  <p>Du <%= @journey.start_time%> au <%= @journey.end_time%></p>
  <p><%= @journey.price %> € pour ton trip</p>
  <p>Voiture: <%= @journey.car_type %></p>
  <p>Description du voyage: <%= @journey.description %></p>
  <p>Distance : <%= @distance.round %> km</p>
  <p>Places disponibles:
    <% if @journey.seat_available > 0 %>
      <%= @journey.seat_available %> places disponibles
    <% else %>
      <p> Désolé, il n'y a plus de place disponible pour ce trajet ! </p>
    <% end %>
  </p>
  <p>Je veux partager mon activité:
    <% if @journey.shares_gear == true %>
    Oui
    <% else %>
    Non
    <% end %>
  </p>
  <p>J'accepte du matériel dans la voiture:
    <% if @journey.accepts_gear == true %>
    Oui
    <% else %>
    Non
    <% end %>
  </p>
  <p>Je prête du matériel:
    <% if @journey.lends_gear == true %>
    Oui
    <% else %>
    Non
    <% end %>
  </p>

  <% if @journey.seat_available > 0 %>
    <%= simple_form_for [@journey, @drivee] do |f| %>
  <%# ceci renvoie un formulaire qui pointe vers une methode post create du controller drivee car on lui a dit dans le controller journey de show que @drivee = Drivee.new. Si @drivee existait déjà, on aurait renvoyait vers une méthode update en cliquant sur le formulaire  %>
    <%= f.submit 'Je réserve' %>
    <% end %>
  <% end %>

<!-- A rajouter : les drivee déja inscrit sur le trajet
 -->
<!-- Pundit : affichage en fonction de driver ou de rider
 -->

  <%= link_to "Modifier", edit_journey_path(@journey), class: "btn btn-primary" %>
  <%= link_to "Supprimer", journey_path(@journey),method: :delete, class: "btn btn-danger" %>
  <% if @journey.seat_available > 0 %>
    <%= link_to "Confirmer ma réservation", new_journey_drivee_path(@journey), class: "btn btn-success" %>
  <% else %>
    <%= link_to "Chercher un autre trajet", journey_path(@journey), class: "btn btn-success" %>
  <% end %>
  <%= link_to "Message",  new_journey_message_path(@journey),method: :get, class: "btn btn-primary" %>
  <%= link_to "je laisse un commentaire",new_journey_review_path(@journey)  %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%#= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-orig-lat="<%= @journey_origin_lon %>"
  data-orig-lon="<%= @journey_origin_lat %>"
  data-dest-lat="<%= @journey_dest_lon %>"
  data-dest-lon="<%= @journey_dest_lat %>"
></div>
