<%@reviews.each do |review| %>
<p>Rating: <%=review.rating%></p>
<p>Desc: <%=review.description%></p>
<p>Reviewee.id: <%=review.reviewee_id%></p>
<p>Reviewer.id: <%=review.reviewer_id%></p>
<p>Journey.id: <%=review.journey_id%></p>
</br>
<% end %>

