<div><h1>Noter</h1></div>
<p>TO DELETE - Driver :<%= @journey.user.name %></p>
<p>TO DELETE - Drivees :<%= @journey.users.name %></p>

<div class="page-container">
  <div class="container" style="width: 700px; margin: 0 auto;">
    <%= simple_form_for [@journey, @review] do |f| %>
    <%= f.association :reviewee, collection: User.others_from_the_trip(@journey, current_user) %>
    <%= f.input :rating %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn-form btn-primary" %>
    <% end %>
  </div>
</div>



